@using PojetoEmprestimoLivros.Models;

@model IEnumerable<LivrosModel>




<div class="container mt-5">


    <div class="btn-box d-flex justify-content-between aling-items-center mb-3">
        <h2>Cadastro De Livros</h2>
        <a class="btn btn-success"><i class="bi bi-plus-circle"></i> Cadastrar novo livro</a>
    </div>

    <thead>
        <table class="table table-hover" id="registros">
        <tr>
            <th>Titulo</th>
            <th>Autor</th>
            <th>Genêro</th>
            <th>Quantidade em Estoque</th>
            <th>Data de cadastro</th>
            <td></td>
        </tr>  
    </thead>
    <tbody>

        @if (Model != null)
        {
            @if(Model.Count() > 0)
            {
                @foreach (var livro in Model)
                {
                    
                    <tr>
                        @if(livro.Capa != null)
                        {
                            <td>
                                <img src="imagem/@livro.Capa" style="width:50px; height:50px" />
                            </td>
                        }
                        else
                        {
                             <td>
                                
                            </td>
                        }
                       
                        <td><i class="bi bi-people"></i>@livro.Titulo</td>
                        <td>@livro.Autor</td>
                        <td>@livro.Genero</td>
                        <td><i class="bi bi-envelope-at"></i>@livro.QuantidadeEmEstoque</td>
                        <td><i class="bi bi-calendar"></i>@livro.Data</td>
                        <td>
                            <a class="btn btn-warning"><i class="bi bi-file-earmark-zip"></i> Detalhes</a>
                            <a class="btn btn-primary"><i class="bi bi-pencil"></i>Editar</a>
                        </td>
                    </tr>
                    
                }
             
            }
            else
            {
                <tr><td class="tex">Livros Não Encontrados! </td></tr>
            }


        }
    
    </tbody>
    </table>



</div>